body {
    background-color: #1D15B3;
}
#imgCarrelloVuoto{
    width:400px;
}
#linkCarrello {
    color: #FF7B2C;
}
.textCarrelloVuoto {
    color: white;
    font-weight:bold;
}
#tabellaHeader{
    color: #FF7B2C;
}
#ButtonSvuotaCarrello {
    background-color: #FF7B2C;
}
.custom-btn {
    background-color: #FF7B2C;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

.custom-btn2 {
    background: #ffffff;
    border: 4px solid #FF7B2C;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1px #444444;
    color: #FF7B2C;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;