body {
    background-color: #1D15B3;
}

.custom-btn {
    background-color: #FF7B2C;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight:bold; 
    font-size: 14px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}