body {
   
}

.custom-btn {
    background-color: #FF7B2C;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-weight:bold; 
    font-size: 14px;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

.custom-btn2 {
    background: #ffffff;
    border: 4px solid #FF7B2C;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1px #444444;
    color: #FF7B2C;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}
    .custom-btn:hover {
        color: #1D15B3;
    }
.carousel-item {
    height: 50vh;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hoverImg:hover {
    transform: scale(1.05);
    transition: .5s;
}

.footer-cta {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.price {
    color: #263238;
    font-size: 24px;
}

.card-title {
    color: #263238;
}

.sale {
    color: #E53935;
}

.sale-badge {
    background-color: #E53935;
}